@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css?family=Open Sans:100,300,400,500,700,900');

$arrayColor : (
  white:#ffffff,
  orange:#FFAF6A,
  red:#FF5757,
  purple:#AD1774,
  black:#000000
);
@each $key, $value in $arrayColor {
  .bg-#{$key} {
    background-color: $value;
  }
}

@mixin flexGroup($direction,$jc){
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: center;
}
html,body{
  margin: 0;
  height: 0;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  .box{
    height: 100vh;
    position: relative;
    background-color: #E8E8E8;
    @include flexGroup(column,center);
    .top{
      position: absolute;
      top: 0;
      width: 100%;
      height: 90px;
      background-color: #fff;
      @include flexGroup(row,center);
      
      .toolGroup{
        width: 60%;
        @include flexGroup(row,space-around);
        align-items: center;
        .tools{
          @include flexGroup(row,center);
          cursor: pointer;
          margin: 0 1rem;
          opacity: 1;
          svg{
            width: 25px;
            height: 25px;
          }
          span{
            margin: 0 .5rem;
            font-weight:700;
            font-size:1.4rem;
          }
        }
        .tools.disabled{
          opacity: .7;
        }
        #file{
          width: 1px;
          height: 1px;
        }
      }
      .hiddenTop{
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: -25px;
        border-radius: 25px;
        background-color: #fff;
        cursor: pointer;
        @include flexGroup(column,center);
        align-items: center;
        overflow: hidden;
        svg{
          position: absolute;
          top: 35%;
          width: 30px;
          height: 30px;
          transform: 0;
        }
      }
    }
    .paint{
      width: 100%;
      height: 100%;
    }
    .bottom{
      position: absolute;
      bottom: 25px;
      width: 720px;
      height: 80px;
      @include flexGroup(row,space-evenly);
      border-radius: 45px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 16px #00000029;
      .hiddenBottom{
        @include flexGroup(row,center);
        align-items: flex-start;
        padding-top: .25rem;
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: #fff;
        top: -25px;
        border-radius: 25px;
        cursor: pointer;
        svg{
          width: 25px;
          height: 25px;
        }
      }
      .bottomGroup{
        @include flexGroup(row,space-evenly);
        font-size:1.4rem;
        font-weight:900;
      }
      .paintPen{
        border-radius: 50%;
        padding: .25rem;
        svg{
          width: 35px;
          height: 35px;
          cursor: pointer;
        }
      }
      .penSize{
        cursor: default;
        input{
          width: 70px;
          border:none;
          background-color: #fff;
          background: #E8E8E8 0% 0% no-repeat padding-box;
          border-radius: 24px;
          margin: 0 .25rem;
          text-align: center;
        }
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .ColorGroup{
        cursor: default;
        .color{
          width: 45px;
          height: 45px;
          margin: 0 .25rem;
          border-radius: 50%;
          border: 1px solid #000;
          cursor: pointer;
        }
        
      }
    }
    .closePaintBtn{
      display: none;
      position: absolute;
      bottom: 40px;
      padding: .5rem;
      border-radius: 50%;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 16px #00000029;
      width: 56px;
      height: 56px;
      cursor: pointer;
      svg{
        width: 25px;
        height: 25px;
        margin: 8px;
      }
    }
  }
}

/* 動畫設定 */
.hidden{
  animation-name: hidden;
  animation-duration: 2s;
}
@keyframes hidden {
  from{
    top: 0px;
  }to{
    top:-90px;
  }
}
.show{
  animation-name: show;
  animation-duration: 2s;
}
@keyframes show {
  from{
    top: -90px;
  }to{
    top: 0px;
  }
}


