@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

@mixin flexGroup($jcc, $acc) {
  display: flex;
  justify-content: $jcc;
  align-items: $acc;
  align-content: $acc;
}
*{
  font-family: "Noto Serif TC";
}
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/img-bg-Qingming.png');
  position: relative;
  .mask{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .25);
    backdrop-filter: blur(5px);

  }
  .gamepage-start{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    .box{
      width: 100%;
      height: 100vh;
      @include flexGroup(center, center);
      flex-direction: column;
      .imgBox{
        margin-bottom: 2rem;
        position: relative;

        animation-name: Gradient;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 548px;
          height: 548px;

          animation-name: Gradient;
          animation-duration: 1.5s;
          animation-delay: 2s;
          animation-iteration-count: infinite;
        }
        &::before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 558px;
          height: 558px;
          animation-name: Gradient;
          animation-duration: 1.5s;
          animation-delay: 2.5s;
          animation-iteration-count: infinite;
        }
      }
      button{
        border: 2px solid #fff;
        background-color: transparent;
        width: 350px;
        height: 65px;
        font-size: 28px;
        color: #fff;
        font-weight: 700;
        &:hover{
          box-shadow: 0px 0px 20px 1px #fff;
          background-color: #ffffffd1;
          color: #0000006b;
          transition: 0.6s ease;
        }
      }
    }
  }
  .gamepage-game{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    .box{
      width: 100%;
      height: 100vh;
      @include flexGroup(center, center);
      flex-direction: column;
      position: relative;
      h2{
        color:#fff;
        font-weight: 500;
        margin-bottom:0;
      }
      .puzzleGroup{
        width: 542px;
        height: 542px;
        margin: 1.5rem 2rem;
        border:1px solid #a39274;
        @include flexGroup(center,center);
        flex-wrap: wrap;
        .puzzleBox{
          position: relative;
          width: 180px;
          height: 180px;
          outline:.5px solid #a39274;
        }
      }
      
      button{
        border: 2px solid #fff;
        background-color: transparent;
        width: 350px;
        height: 65px;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        letter-spacing: .25rem;
        &:hover{
          box-shadow: 0px 0px 20px 1px #fff;
          background-color: #ffffffd1;
          transition: 0.6s ease;
          color: #0000006b;
        }
      }
    }
  }
  .gamepage-gameover{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    .box{
      width: 100%;
      height: 100vh;
      @include flexGroup(center, center);
      .imgBox{
        margin-right: 2rem;
        box-shadow: 0px 0px 20px 13px #ffffffb3;
        outline: 2px solid #fff;
      }
      .textGroup{
        width: 350px;
        height: 538px;
        @include flexGroup(space-between, flex-start);
        flex-direction: column;
        color: #fff;
        h1{
          margin-bottom: 0;
          font-size: 40px;
          font-weight: 700;
        }
        h5{
          margin-bottom: 0;
          font-size: 18px;
          font-weight: bold;
          line-height: 32px;
        }
        p{
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: 300;
        }
        button{
          width: 350px;
          height: 60px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border: 2px solid #FFFFFF;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

  }
  /*--------------------- 動畫樣式 ------------------------*/
  .hidden{
    animation-name: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards; /*維持動畫最後模樣*/
  }
  .show{
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards; /*維持動畫最後模樣*/
  }
  .hover{
    background-color: #c6c6c64b;
  }

  /*----------------------- 拼圖 -----------------------*/
  .puzzle{
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: move;
  }
  /*----- 正確位置 -----*/
  .puzzle-2{
    top: 0px;
    left: -28px !important;
  }
  .puzzle-5{
    top: -28px !important;
    left: 0px;
  }
  .puzzle-6{
    top: 0px;
    left: -28px !important;
  }
  .puzzle-7{
    top: -28px !important;
    left: 0px;
  }
  .puzzle-8{
    top: 0px;
    left: -28px !important;
  }
  .puzzle-9{
    top: -28px !important;
    left: 0px;
  }
}


/*--------------------- 動畫 ------------------------*/
@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Gradient{
  from {
    outline: 2px solid #ffffffe6;
  }
  to {
    outline: 2px solid #ffffff24;
  }
}
